* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #87b5b5;
  text-align: center;
  height: 100vh;
}

#editor {
  height: 30vh;
  width: 600px;
  border: 2px solid green;
}

#preview {
  height: 60vh;
  margin-top: 25px;
  width: 1200px;
  border: 2px solid green;
}
